<!DOCTYPE html>
<html>
<head>
	<title>Find a Spot!</title>
	<link rel="stylesheet" type="text/css" href="/styles/main.sass.css">
</head>
<body>
	<div class="wrapper">
		<header id="header">
		<a id="logo" href="#">Find a Spot!</a>
		</header>

		<nav>
			<a href="#restaurants">Restaurants</a>
			<a href="#login">Sign In</a>
		</nav>

		<div class="main_section_wrapper">
			<section id="login">
			sign in
			</section>

			<section id="restaurants">
				<div>
				Select Restaurant
				</div>
			</section>

			<section id="parking_spots">
				<div>
				Restaurant info here
				</div>
				<div>
				Select your parking spot to reserve
				</div>
				<div class="parking_lot_wrapper">
					<div id="parking_spot_1"></div>
					<div id="parking_spot_2"></div>
				</div>
			</section>
		</div>
		<footer>
			footer
		</footer>
	</div>
	<script type="text/javascript" src="/scripts/bundle.js"></script>
	<script type="text/template" id="restaurant-list">
        <div class="new-restaurant">
            <%= name %>
        </div>
    </script>
    <script type="text/template" id="restaurant-details">
        <div class="restaurant-info">
            <%= name %>
            <%= street_address %>
            <%= zipcode %>
            <%= restaurant_img %>
        </div>
    </script>
</body>
</html>