$red-background: #E70420;
$blue-background: #009EE3;
$yellow-background: #fcd230;
$orange-background: #FDB304;
$green-background: #04C4C7;
$gray-background: #A6ACAF;

$header-font: 'Rubik', sans-serif;
$subheader-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;

$test-font-size: 3em;