@import 'normalize', 'variables';
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700|Lato|Open+Sans:400,700);


/*-Header Styling-*/

header {
	background-color: $navy;
	box-sizing: border-box;
	overflow: hidden;
	
	#logo {
		font-family: $header-font;
		font-weight: 700;
		font-size: 2em;
		text-decoration: none;
		color: $orange;
		padding: 20px;
		float: left;
		display: block;
	}

	nav {
		clear: both;
		text-align: center;

		a {
			text-decoration: none;
			font-size: 1em;
			font-family: $subheader-font;
			font-weight: 700;
			color: $navy;
			background-color: $yellow;
			border-radius: 20px;
			padding: 10px;
			display: inline-block;
			margin: 20px 10px;

			&:hover {
				color: darken($navy,10%);
				background-color: darken($yellow,10%);
			}
		}
	}
}

/*-Sections styling-*/

.subheader_directions {
	font-family: $subheader-font;
	font-weight: 400;
	font-size: 1.7em;
	color: $navy;
	padding: 30px;
}

.new-restaurant {
	background-color: $orange;
	padding: 20px 10px;
	font-family: $header-font;
	font-weight: 700;
	color: $gray;
	font-size: 2em;
	margin: 30px;
	max-width: 200px;
	// background: url('');
	background-size: cover;

	&:hover {
		cursor: pointer;
		background-color: darken($orange,30%);
		color: darken($gray,30%);
	}
}

.dash-border {
	border-bottom: 4px dashed $yellow;
	margin: 20px;
}

/*-parking page-*/

.restaurant_addy {
	font-family: $body-font;
	font-size: 1.25em;
	margin: 30px;
	color: $navy;
}

.parking_lot_wrapper {
	padding: 50px 30px;

	div {
		background-color: black;
		height: 50px;
		width: 100px;
		margin: 10px;
	}
}

/*-background styling-*/

section {
	background-color: $blue;
	padding-bottom: 50px;
	padding-top: 1px;
}

/*-Footer-*/

footer {
	width: 100%;
	height: 50px;
	background-color: $navy;
}

@media screen and (min-width: 501px) {

	header {
		nav {
			clear: none;
			float: right;

			a {
				margin-right: 20px;
			}
		}
	}

}




